{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    {% endblock %}
</head>
<body>
    {% block body %}
<div class="detail_container">
    <div class="detail_head">
        <div class="detail_name">
        <h1 id="name">{{ data.event_name }}</h1>
        </div>
        <div class="time">
            <h2>Date: {{ data.event_date }}</h2>
            <h2>Time: {{ data.event_time }}</h2>
        </div>
    </div>

    <div class="detail">
        <img src="{{ data.event_image.url }}" class="image" alt="">
        <p id="desp">{{ data.event_desp }}</p>
    </div>
</div>
{% endblock %}
</body>
</html>